.product-list {
    width: auto;
    padding: 20px;
}

.product {
    padding: 20%;
    max-width: 10%;
    background: #ddd;
    border-radius: 5px;
}


.sort-btn {
    border: 1px solid #2C3930;
}

.sort-btn:hover {
    border: 1px solid #2C3930;
}

.price-input {
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    padding: 15px;
    margin-bottom: 20px;
} 


#filter {
    display: none;
    background-color: #DCD7C9;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 10px;
}

label.btn-outline-danger {
    background-color: white;
    color: black;
    border: 1px solid #A27B5C;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

input[type="checkbox"] + label {
    background-color: white;
    color: black;
    border: 1px solid #A27B5C;
    transition: background-color 0.2s, color 0.2s;
}

input[type="checkbox"]:checked + label {
    background-color: #A27B5C !important; 
    color: white !important;
    border-color: #A27B5C !important;
}

label.btn-outline-danger:hover {
    background-color: #E4C59E; /* Light brown hover effect */
    color: black;
}

.add-to-cart {
    background-color: #ffa929; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.add-to-cart:hover {
    background-color: #f6d8aa;
}



.pagination-btn {
    margin: 0px 10px 3px 10px;
    border: 1px solid #2C3930 0.2;
    border-radius: 10px;
    width: 2cm;
    background-color: #DCD7C9;
}

.pagination-btn:hover{
    opacity: 70%;
    color: #A27B5C;
}

.pagination-btn:disabled{
    opacity: 30%;
    color: #000;
}

.pagination-btn:disabled:hover{
    opacity: 30%;
    color: #000;
}

.product-item a{
    text-decoration: none;
    color: black;
}

.product-item a:hover {
    text-decoration: underline;
}

        